{% extends 'base.html' %}
{% load static%}

{% block content %}

 <!-- ========================= SECTION MAIN ========================= -->
 <section class="hero-intro padding-y-sm">
    <div class="container-fluid">
    
    <div class="hero-wrapper">
      <img src="{% static './images/banners/cover2.jpg' %}" class="img-fluid rounded">
    </div>
    
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
      <a href="./store.html" class="btn btn-outline-info float-right">See all</a>
      <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading -->
    
    <div class="row">
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/item2.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$79.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/item12a.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$50.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/item11.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$56.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/4.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$1o9.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/shoe9.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$123.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/3.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$43.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/7.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$56.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div class="card card-item-grid">
          <a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/shoe5.jpg' %}"> </a>
          <figcaption class="product-info">
            <a href="./product-detail.html" class="title">Product name</a>
            <div class="cost mt-1">$49.00</div> <!-- cost-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
    
{% endblock %}